* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(
      #0ee5af 0.6000000000000001px,
      transparent 0.6000000000000001px
    ),
    linear-gradient(
      to right,
      #0ee5af 0.6000000000000001px,
      #e5e5f7 0.6000000000000001px
    );
  background-size: 12px 12px;
}
.App {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: rgb(255, 128, 102);
  text-shadow: 4px 3px 2px #0080ff;
}
.subtitle {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: rgb(0, 128, 255);
  text-shadow: 4px 3px 2px #ff8066;
}
.divider {
  width: 50%;
  border-bottom: 4px solid rgba(255, 41, 41, 0.555);
  margin: 25px auto;
}
.avatar {
  position: relative;
  width: 260px;
  height: 280px;
}
.avatar-wrapper {
  border-radius: 40px;
  border: 15px solid rgb(0, 128, 255);
  padding: 50px;
  background-color: #fff;
  position: sticky;
  top: calc(50% - 205px);
  display: inline-block;
  height: 50%;
}
.text-center {
  text-align: center;
}
.button {
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(179, 0, 0);
}
.list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 166, 0, 0.4);
  border: 5px solid orange;
  gap: 1rem;
  padding: 20px;
  border-radius: 15px;
  margin: 10px 0;
}
.click {
  cursor: pointer;
}
.avatar-group {
  display: flex;
  gap: 30px;
}
.list-section {
  max-width: 700px;
  text-align: center;
  margin: 0 10px;
}
.square {
  box-shadow: 0 0 0 1px rgb(0, 26, 4);
  border-radius: 10px;
  width: 50px;
  height: 50px;
}
.square:hover {
  background-color: rgb(255, 128, 102);
}
h2 {
  color: rgb(0, 77, 0);
}
.selected {
  background-color: rgb(230, 204, 255);
}
@media (max-width: 1150px) {
  .list {
    max-width: 700px;
  }
  .avatar-group {
    flex-direction: column;
    align-items: center;
  }
  .avatar-wrapper {
    padding: 0px;
  }
}
